<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts</title>
   <%= stylesheet_link_tag "application",'http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic', :media => "all" %> 
  <%= stylesheet_link_tag "application",'http://fonts.googleapis.com/css?family=Aladin', :media => "all" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>

<%= yield %>

</body>
</html>
